# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
deploy_temp
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# InsForge config (don't ignore the directory, only secrets)
.env
.insforge/project.json

# Agents & Brain
.agents/
.augment/
.claude/
.junie/
.kilocode/
.kiro/
.qoder/
.qwen/
.roo/
.trae/
.windsurf/
test-results/
.gemini/

# AI agent skills
.agent
.cline
.github/copilot*

# InsForge & AI agent skills
.insforge
.agents
.augment
.claude
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
